/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

