.div-Formpedido {
    width          : 100%;
    display        : flex;
    flex-wrap      : wrap;
    justify-content: center;
    padding        : 10px;
    margin-top     : 25px;
}

.content-titlePedido {
    width          : 100%;
    display        : flex;
    flex-wrap      : wrap;
    justify-content: center;
    margin-bottom  : 20px;

    font-size  : 25px;
    font-weight: 700;
}

input {
    width        : 100%;
    height       : 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-indent  : 5px;
}

input:focus {
    outline: none;
}

textarea {
    width        : 100%;
    margin-bottom: 20px;
    height       : 60px;
}

textarea:focus {
    outline: none;
}

.divbuttonPedido {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: center;
    width          : 100%;
}

.divbuttonPedido button {
    width           : 100px;
    height          : 40px;
    border          : none;
    color           : aliceblue;
    background-color: brown;
    border-radius   : 5px;
    cursor          : pointer;
}

@media (min-width: 1024px) {
    input {
        width: 400px;
    }

    textarea {
        max-width: 400px;
    }

    .form-Pedido {
        display        : flex;
        flex-wrap      : wrap;
        justify-content: center;
        width          : 800px;
    }
}