
<div class="div-Formpedido">
  <div class="content-titlePedido"><div>Datos de pedido</div></div>
  <div class="form-Pedido">
    <input type="text" placeholder="Nombre de persona">
    <textarea maxlength="300"></textarea>
    <input type="file">
    <input type="text" placeholder="Nombre persona quien recibe">
    <input type="text" placeholder="telefono">
    <div class="divbuttonPedido">
    <button type="submit">Enviar datos</button>
  </div>
  </div>
</div>